{% extends 'shared/_layout.html' %}

{% block title %}
    ورود به حساب
{% endblock %}


{% block content %}
    <div class="login_panel">
        <h3>مشتریان موجود</h3>
        <p>با استفاده از فرم زیر وارد شوید.</p>
        <form action="{% url 'login_page' %}" method="post" id="member">
            {% csrf_token %}
            {{ login_form }}
        </form>
        <p class="note">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است<a
                href="#">اینجا</a></p>
        <div class="buttons">
            <div>
                <button class="grey">ورود</button>
            </div>
        </div>
    </div>
{% endblock %}