{% extends 'shared/_layout.html' %}
{% load thumbnail %}


{% block title %}صفحه اصلی{% endblock %}


{% block content %}
    <div class="wrap" style="overflow-x: hidden">
        <div class="header_bottom">
            <div class="header_bottom_right">
                <div class="section group">
                    <div class="listview_1_of_2 images_1_of_2">
                        <div class="listimg listimg_2_of_1">
                            <a href="preview.html"> <img src="static/images/pic4.png" alt=""/></a>
                        </div>
                        <div class="text list_2_of_1">
                            <h2>آی فون</h2>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                            <div class="button"><span><a href="preview.html">افزودن به سبد خرید</a></span></div>
                        </div>
                    </div>
                    <div class="listview_1_of_2 images_1_of_2">
                        <div class="listimg listimg_2_of_1">
                            <a href="preview-5.html"><img src="static/images/pic3.png" alt=""/></a>
                        </div>
                        <div class="text list_2_of_1">
                            <h2>سامسونگ</h2>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                            <div class="button"><span><a href="preview-5.html">افزودن به سبد خرید</a></span></div>
                        </div>
                    </div>
                </div>
                <div class="section group">
                    <div class="listview_1_of_2 images_1_of_2">
                        <div class="listimg listimg_2_of_1">
                            <a href="preview-3.html"> <img src="static/images/pic3.jpg" alt=""/></a>
                        </div>
                        <div class="text list_2_of_1">
                            <h2>Acer</h2>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                            <div class="button"><span><a href="preview-3.html">افزودن به سبد خرید</a></span></div>
                        </div>
                    </div>
                    <div class="listview_1_of_2 images_1_of_2">
                        <div class="listimg listimg_2_of_1">
                            <a href="preview-6.html"><img src="static/images/pic1.png" alt=""/></a>
                        </div>
                        <div class="text list_2_of_1">
                            <h2>Canon</h2>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                            <div class="button"><span><a href="preview-6.html">افزودن به سبد خرید</a></span></div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="header_bottom_left_images">
                <!-- FlexSlider -->
                <section class="slider" dir=ltr>
                    <div class="flexslider">
                        <ul class="slides">
                            <li><img src="static/images/1.jpg" alt=""/></li>
                            <li><img src="static/images/2.jpg" alt=""/></li>
                            <li><img src="static/images/3.jpg" alt=""/></li>
                            <li><img src="static/images/4.jpg" alt=""/></li>
                        </ul>
                    </div>
                </section>
                <!-- FlexSlider -->
            </div>
            <div class="clear"></div>
        </div>
        <div class="main">
            <div class="content">
                <div class="content_top">
                    <div class="heading">
                        <h3> ویژگی محصولات</h3>
                    </div>
                    <div class="sort">
                        <p>
                            مرتب سازی بر اساس:

                            <select>
                                <option>
                                    پایین ترین قیمت
                                </option>
                                <option>
                                    بالاترین قیمت
                                </option>
                                <option>
                                    پایین ترین قیمت
                                </option>
                                <option>
                                    پایین ترین قیمت
                                </option>
                                <option>
                                    پایین ترین قیمت
                                </option>
                                <option>
                                    در انبار
                                </option>
                            </select>
                        </p>
                    </div>
                    <div class="show">
                        <p>
                            نشان می دهد:

                            <select>
                                <option>4</option>
                                <option>8</option>
                                <option>12</option>
                                <option>16</option>
                                <option>20</option>
                                <option>در انبار</option>
                            </select>
                        </p>
                    </div>
                    <div class="page-no">
                        <p>تعداد صفحات :</p>
                        {% if page_obj.has_previous %}
                            <li><a href="?page={{ page_obj.previous_page_number }}">قبلی</a></li>
                        {% endif %}
                        {% for pageNumber in paginator.page_range %}
                            <li><a href="?page={{ pageNumber }}">{{ pageNumber }}</a></li>
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <li><a href="?page={{ page_obj.next_page_number }}">بعدی</a></li>
                        {% endif %}

                    </div>

                    <div class="clear"></div>
                </div>

                <div class="section group">
                    {% for product in products %}
                        <div class="grid_1_of_4 images_1_of_4">
                            <a href="preview-3.html">
                                {% thumbnail product.image "212x212" crop="center" as im %}
                                    <img src="{{ im.url }}" alt=""/>
                                {% endthumbnail %}
                            </a>
                            <h2>{{ product.titel }}</h2>
                            <p>{{ product.short_description }}</p>
                            <p><span class="strike">{{ product.price }}</span><span
                                    class="price">{{ product.price }}</span>
                            </p>
                            <div class="button" dir=ltr><span>
                                <img src="static/images/cart.jpg" alt=""/>
                                <a href="preview-3.html" class="cart-button">افزودن به سبد خرید</a></span>
                            </div>
                            <div class="button"><span><a href="{{ product.get_absolute_url }}"
                                                         class="details">جزئیات</a></span></div>
                        </div>

                    {% endfor %}

                </div>
                <div class="content_bottom">
                    <div class="heading">
                        <h3>
                            محصولات جدید
                        </h3>
                    </div>
                    <div class="sort">
                        <p>
                            مرتب سازی بر اساس:

                            <select>
                                <option>
                                    پایین ترین قیمت
                                </option>
                                <option>
                                    بالاترین قیمت
                                </option>
                                <option>
                                    پایین ترین قیمت
                                </option>
                                <option>
                                    پایین ترین قیمت
                                </option>
                                <option>
                                    پایین ترین قیمت
                                </option>
                                <option>
                                    در انبار
                                </option>
                            </select>
                        </p>
                    </div>
                    <div class="show">
                        <p>
                            نشان می دهد:

                            <select>
                                <option>4</option>
                                <option>8</option>
                                <option>12</option>
                                <option>16</option>
                                <option>20</option>
                                <option>در انبار</option>
                            </select>
                        </p>
                    </div>
                    <div class="page-no">
                        <p>
                            تعداد صفحات:
                        <ul>
                            <li><a href="#">1</a></li>
                            <li class="active"><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li>[<a href="#"> بعدی>>></a>]</li>
                        </ul>
                        </p>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="section group ">
                    {% for product in products %}
                        <div class="grid_1_of_4 images_1_of_4">
                            <a href="preview-3.html">
                                {% thumbnail product.image "212x212" crop="center" as im %}
                                    <img src="{{ im.url }}" alt=""/>
                                {% endthumbnail %}
                            </a>
                            <h2>{{ product.titel }}</h2>
                            <p>{{ product.short_description }}</p>
                            <p><span class="strike">{{ product.price }}</span><span
                                    class="price">{{ product.price }}</span>
                            </p>
                            <div class="button" dir=ltr><span>
                                <img src="static/images/cart.jpg" alt=""/>
                                <a href="preview-3.html" class="cart-button">افزودن به سبد خرید</a></span>
                            </div>
                            <div class="button"><span><a href="{{ product.get_absolute_url }}"
                                                         class="details">جزئیات</a></span></div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>


{% endblock %}